[submodule "Deps/gl3w"]
	path = Deps/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "Deps/stb"]
	path = Deps/stb
	url = https://github.com/nothings/stb.git
[submodule "Deps/utfcpp"]
	path = Deps/utfcpp
	url = https://github.com/ledger/utfcpp.git
[submodule "Deps/gsl"]
	path = Deps/gsl
	url = https://github.com/microsoft/GSL.git
[submodule "Deps/glm"]
	path = Deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "Deps/cmake-pch"]
	path = Deps/cmake-pch
	url = https://github.com/nanoant/CMakePCHCompiler.git
[submodule "Deps/pcg"]
	path = Deps/pcg
	url = https://github.com/imneme/pcg-cpp.git
